<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ownplan.logintest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ownplan.com.ownplan.views.Edit_plan"></activity>
        <activity
            android:name="com.ownplan.com.ownplan.utils.ChooseDialog"
            android:label="@string/title_activity_choose_dioge" />
        <activity
            android:name="com.ownplan.com.ownplan.index.Index"
            android:screenOrientation="portrait" />
        <activity android:name="com.ownplan.com.ownplan.activity.login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ownplan.com.ownplan.activity.login.LostFindActivity" />
        <activity android:name="com.ownplan.com.ownplan.activity.login.RegisterActivity" />
        <activity android:name="com.ownplan.com.ownplan.utils.BasicActivity" />
    </application>

</manifest>